SELECT format('CREATE ROLE obrasgov_ingestion LOGIN PASSWORD %L', :'ingestion_password')
WHERE NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = 'obrasgov_ingestion')\gexec

SELECT format('CREATE ROLE obrasgov_dbt LOGIN PASSWORD %L', :'dbt_password')
WHERE NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = 'obrasgov_dbt')\gexec

SELECT format('CREATE ROLE obrasgov_frontend LOGIN PASSWORD %L', :'frontend_password')
WHERE NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = 'obrasgov_frontend')\gexec
